@use "global" as *;

.p-form__input {
  border: #707070 1px solid;
  border-radius: rem(10);
  background: $white;
  padding: rem(15);
  text-align: left;
  @include mq(md) {
    padding: rem(30);
  }
}

.p-form__input input {
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(22);
  }
}

.p-form__input + .p-form__input {
  margin-top: rem(20);
}

.p-form__submit {
  margin-top: rem(34);
}

.p-form__submit input {
  max-width: rem(474);
  width: 100%;
  margin: auto;
  filter: drop-shadow(0px 12px 10px rgba(126,126,126,0.6));
}