@use "global" as *;

.p-fv {
  background: url(../images/common/fv-bg-sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  @include mq(md) {
    position: relative;
    background: url(../images/common/fv-bg-pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
